@font-face {
    font-family: Lora ;
    src: url(../fonts/Lora/Lora-VariableFont_wght.ttf);
}

*{
    margin: 0;
    padding: 0;
    font-family: Lora ;

}
.body{
    color: #3D1F12;
    background-color: #F1EADA;
}
/* start nav */
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.nav_logo{
    display: flex;
    align-items: center;

}
.nav_logo img{
    width: 100px;
    height: 100px;
    margin-left: 20px ;
}
 .nav_title{
    text-decoration: none;
    color: #3D1F12;

 }
.nav_item{
    margin-top: -30px;
    margin-left: 30px;
    

}

.nav_item li{
    display: inline-block ;
    margin-top: 30px;
    margin-right: 70px;
}
.nav_item li a{
    text-decoration: none;
    color: #3D1F12;
}
.nav_item li a:hover {
  color: #c89b6c; /* latte beige */

}
.nav_order{
    margin-right: 40px;
}

.nav_order i{
    background: none;
}
.order_now{
    background-color:#3D1F12 ;
    display: inline-block;
    color:  #F1EADA !important ;
    padding: 10px 20px ;
    border: 1px solid ;
    border-radius: 50px;
    text-decoration: none;

}

.order_now:hover{
    background-color:#F1EADA ;
    color: #3D1F12 !important;
    border-radius: 5px solid ;
}
/* end nav */
/* start bunner */
.bunner{
    margin-top:20px;
    display: grid;
    grid-template-columns: auto auto;
}
.bunner img{
    width: 100% ;

}
.bunner_text{
    /* text-align: center; */
    margin-top: 250px;
}
.bunner_text h1{
    font-size:60px ;
}

.bunner_text a{
    display: inline-block;
    margin-top: 60px;

}

/* end bunner */
/* start signature */
#signature{
    width: 90%;
    margin: auto;
    margin-top: 90px;
}
.signature_title h1 {
    text-align: center;
    margin-bottom: 10px;
}
.signature_title p {
    text-align: center;
    margin-bottom: 20px;
}
.signature_drink{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px;
}
.signature_img{
    width: 100%;
    height: 500px;
    border-radius: 15px;
    margin-bottom: 5px;
}
.signature_box{
    border: 1px solid #3D1F12;
    padding: 5px;
    border-radius: 5px;
}
.signature_box p{
    padding: 10px 20px;
}
.signature_box button{
    float: right ;
    background-color:#3D1F12 ;
    color:  #F1EADA !important ;
    padding: 10px ;
    border: 1px solid ;
    border-radius: 50px;
}
.signature_box button:hover{
    background-color:#F1EADA ;
    color: #3D1F12 !important;
    border-radius: 5px solid ;
}
/* end signature */
/* start blog */
#blog{
    width: 80%;
    margin: auto;
    margin-top: 90px;
}
#blog > h1{
    text-align: center;
    margin-bottom: 15px;
}
.blog{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    margin-bottom: 20px;
}

.blog_text h3 , .blog_text pre{
    margin-bottom: 20px;
    text-align: start;
}
.blog_text button{
    background-color:#3D1F12 ;
    color:  #F1EADA !important ;
    padding: 10px ;
    border: 1px solid ;
    border-radius: 50px;
}
.blog_text button:hover{
    background-color:#F1EADA ;
    color: #3D1F12 !important;
    border-radius: 5px solid ;
}
.blog_img1{
    width: 350px;
    height:350px;
    border-radius: 10px;
}
.blog_img2{
    width: 400px;
    height:500px;
    border-radius: 10px;
}

/* end blog */


/* start menu */
#menu{
    width: 90%;
    margin: auto;
    margin-top: 50px;
}
.menu_title h1 {
    text-align: center;
    margin-bottom: 10px;
}
.menu_title p {
    text-align: center;
    margin-bottom: 20px;
}
.menu_drink{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px;
    margin-bottom: 30px;
}
.menu_img{
    width: 100%;
    height: 500px;
    border-radius: 15px;
    margin-bottom: 5px;
}
.menu_box{
    border: 1px solid #3D1F12;
    padding: 5px;
    border-radius: 5px;
}
.menu_box p{
    height: 70px;
    padding: 10px 20px;
}
.menu_box button{
    float: right ;
    background-color:#3D1F12 ;
    color:  #F1EADA !important ;
    padding: 10px ;
    border: 1px solid ;
    border-radius: 50px;
}
.menu_box button:hover{
    background-color:#F1EADA ;
    color: #3D1F12 !important;
    border-radius: 5px solid ;
}

.menu_categories{
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 5px;
    text-align: center;
}
/* end menu */


/* start about */
.about_us{
    width: 90%;
    margin: auto;
    text-align: center;
    padding: 20px;
}
.about_us h1{
    margin-bottom: 20px;
}
.about_us p {
    width:60% ;
    float: left;
    margin-top: 80px;
    padding: 15px;
}
.about_img{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;

}
.about_images{
    width: 100%;
    border-radius: 5px;
}
/* end about */

/* contact start */
#contact{
    width: 90%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}
#contact h1{
    text-align: center;
    margin-top: 20px;
}

.contact_us{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 15px;
    margin-top: 20px;

}
.contact_info{
    padding: 15px;
}
.contact_info h3{
    text-align: center;
    margin-bottom: 10px;
}
.contact_info p{
    margin-bottom: 10px;
}
.contact_form{
    margin-top:30px ;
}
.input{
    width: 300px;
    height: 30px;
    margin-bottom: 15px;
}
.contact_message{
    width: 300px;
    height: 100px;
    margin-bottom: 15px;
}
.contact_form button{
    background-color: #3D1F12;
    color: #F1EADA;
    border: 1px solid #3D1F12;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}
.contact_form button:hover{
        background-color: #F1EADA;
    color: #3D1F12;
}
.contact_map{
    margin-top: 30px;
    width: 100%;
    height: 200px;
}
/* contact end */

/* start footer */
#footer{
    background-color: #3D1F12;
    color: #F1EADA;
}
.footer{
    width: 90%;
    margin: auto ;
    display: grid;
    grid-template-columns: 500px auto auto ;
    padding: 20px;
    margin-bottom: 20px;
}
.footer-about{
        margin: 30px;
}
.footer-about h3 ,
.footer-link h3,
.footer-contact h3
{
    margin-bottom: 15px;
}
.footer-link {
    margin: 30px;
}
.footer-link a{
    display: block;
    text-decoration: none;
    color: #F1EADA;
    margin-bottom: 5px;
}

.footer-link a:hover,
.footer-social i:hover {
  color: #c89b6c; /* latte beige highlight */
}
.footer-contact{
    margin: 30px;
}
.footer-contact p{
    margin-bottom: 10px;
}

.footer-bottom{

    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    padding-left: 20px;
}
.footer-social{
    padding-right: 20px;
}
.footer-social i {
  margin: 0 8px;
  display: inline-block;
  cursor: pointer;

}


/* end footer */