h1{
    color: rgb(43, 84, 84);
    text-align: center;
}


/* id selector */
#idselector{
    color: rgb(55, 0, 254);
    word-spacing: 10px;
    line-height: 30px;
    text-transform: lowercase;
}
/* class selector */
.classselector{
    text-indent: 35px;
    color: rgb(58, 183, 17);

}
.class2{
    color: darkorange;
    font-size: 25px;
}
/* desc selector */
#desc a{
    color: aqua;
    font-size: 30px;
}

/* child selector */
#child > a{
    color: rgb(255, 0, 0);
    font-size: 25px;
}

/* pseudo selector */

/* a:link{
    color: red;
    text-decoration: none;
}

a:hover{
    color: aqua;
    font-size: 20px;
}

a:active{
    color: chartreuse;
    letter-spacing: 10px;
}

a:visited{
    color: black;
} */

/* target */

h5:target{
    color: blueviolet;
    text-transform: uppercase;
    font-size: 25px;
}

div:target{
    color: darkblue;
    text-transform: capitalize;
    font-size: 20px;
}

.borderone{
    border: 10px solid yellowgreen;
}

.bordertwo{
    border-bottom: 5px dotted red;
    border-top: 10px solid blue;
}
.borderthree{
    /* border-style: dashed; */
    /* all */ 
    /* border-style: solid double; */
    /* Top&Bottom , Right&Left */
    /* border-style: solid dotted dashed; */
    /* T , R&L , B */
    border-style: solid double dotted dashed;
}

.borderfour{
    border-style: solid;
    border-color: blue red yellow green;
    border-width: 5px 30px 10px 50px;
}

/* Margin */

*{
    margin: 0px;
    padding: 0px;
}
.marginone{
    margin: 100px 200px;
    border: 2px solid red;

}
.margintwo{
    margin-left: 50px;
    border: 2px solid red;

}

.paddingone{
    border: 5px solid black;
    /* padding: 20px 100px 50px; */
    padding-right: 100px;

}
/* Layout */

.inline{
    width: 500px;
    border: 2px solid black;
    display: inline-block;
    text-align: center;
}
.block{
    width: 400px;
    border: 2px solid blue;
    display: inline-block;
    text-align: end;
}

/* float */

.left img{
    width: 50%;
    float: left;
}
.clear {
    clear: both;
}
.right img{
    width: 20%;
    float: right;
}
/* grid */
.gridone div , .gridtwo div , .gridthree div , .gridfour div , .gridfive div , .gridsix div {
    padding: 20px;
    color:#aaaaaa;
    text-align: center;
}
.gridone , .gridtwo , .gridthree , .gridfour , .gridfive , .gridsix{
    display: grid;
    grid-template-columns: auto auto auto;
}
.gridtwo{
    grid-column-gap: 30px;
}
.gridthree{
    grid-row-gap: 40px;
}
.gridfour{
    grid-gap: 50px;
    /* grid-column-gap: 40px;
    grid-row-gap: 40px; */
}
.coladd{
    grid-column-start: 1;
    grid-column-end: 3;
}
.rowadd{
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 3;
}

/* Position */
.position_relative_P{
    border: 1px solid black;
    width: 1000px;
    height: 400px;

}
.position_relative{
    border: 1px solid red;
    width: 500px;
    height: 200px;
    position: relative;
    top: 50px;
    right: -200px;
}

.position_absolute_P{
    border: 1px solid black;
    width: 1000px;
    height: 400px;
    position: relative;

}
.position_absolute{
    border: 1px solid red;
    width: 500px;
    height: 200px;
    position: absolute;
    top: 50px;
    left :100px;
}

.fixed{
    position: fixed;
    top: 200px;
    right: 200px;
}
/* online font */
.online_font {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* offline font */
@font-face {
    font-family: "Asi";
    src: url(../fonts/Asimovian/Asimovian-Regular.ttf);
}

.offline_font{
    font-family: "Asi";
}
/* mobile size */
@media (max-width:600px){
    body{
        background-color: aqua;
    }
}

/* tablet size */
@media (min-width:601px) and (max-width:900px){
    body{
        background-color: gray;
    }
}

/* laptop size */
@media (min-width:901px) and (max-width:1200px){
    body{
        background-color: goldenrod;
    }
}

/* desktop size */
@media (min-width:1201px){
    body{
        background-color: violet;
    }
}